body {
    background-color: #002b36 !important;
    color: #bbbbbb !important;
}

#header {

    background-color: #002b36 !important;
    clear: both;
    color: #eee8d5 !important;

}
#menu {
    clear: both;
    color: #dc322f;
    overflow: hidden;
    background-color: #eee8d5;
    padding: 0.7ex;
    border: 0px !important;
}

a {
	color: #444444 !important;
}

#header a {
	color: #eee8d5 !important;
}

#menu a {
	color: #eee8d5 !important;
}
